.buttons-container {
  margin-top: 50px;
  text-align: center;
}

.blob-btn {
  z-index: 1;
  position: relative;
  padding: 20px 46px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  color: #C61509;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  border-radius: 30px;
}

.blob-btn-flavors {
  z-index: 1;
  position: relative;
  padding: 10px 46px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  color: #C61509;
  font-size: large;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  border-radius: 10px;
}

.blob-btn-flavors:before{
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #C61509;
  border-radius: 10px;
}

.blob-btn-flavors:hover {
  color: #FFFFFF;
}

/* The Border */
.blob-btn:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #C61509;
  border-radius: 20px;
}

.blob-btn:hover {
  color: #FFFFFF;
}

.blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: #ffffff88;
}

.blob-btn__inner_flavors {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #ffffff88;
}

.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  filter: url('#goo');
}

.blob-btn__blob {
  position: absolute;
  top: 2px;
  width: 25%;
  height: 100%;
  background: #C61509;
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.4);
  transition: transform 0.45s;
}

/* Individual blob positions and delays */
.blob-btn__blob:nth-child(1) { left: 0%; transition-delay: 0s; }
.blob-btn__blob:nth-child(2) { left: 30%; transition-delay: 0.08s; }
.blob-btn__blob:nth-child(3) { left: 60%; transition-delay: 0.16s; }
.blob-btn__blob:nth-child(4) { left: 90%; transition-delay: 0.24s; }

.blob-btn:hover .blob-btn__blob {
  transform: translate3d(0, 0, 0) scale(1.4);
}

.blob-btn-flavors:hover .blob-btn__blob {
  transform: translate3d(0, 0, 0) scale(2);
}


@media screen and (max-width:1024px) {
  .blob-btn-flavors{
    padding: 9px 30px;
    font-size: medium;
  }
}
@media screen and (max-width:640px) {
  .blob-btn-flavors{
    padding: 7px 25px;
    font-size: small;
  }
}